---
import BaseLayout from "../layouts/BaseLayout.astro";
import Navbar from "../components/Navbar.astro";
import Hero from "../components/Hero.astro";
import Sejarah from "../components/Sejarah.astro";
import Thesis from "../components/Thesis.astro";
import Portfolio from "../components/Portfolio.astro";
import Founder from "../components/Founder.astro";
import GrowthChart from "../components/GrowthChart.astro";
import CTA from "../components/CTA.astro";
import Footer from "../components/Footer.astro";
---

<BaseLayout>
  <Navbar />
  <main>
    <Hero />
    <Sejarah />
    <Thesis />
    <Portfolio />
    <Founder />
    <GrowthChart />
    <CTA />
  </main>
  <Footer />
</BaseLayout>
